# Lists

In [1]:
l1 = ['Ash', 'Berry', 'Brian', 'Joy', 'Weras']
l2 = ['Kim', 'Mukami', 'Muthuure', 'Kathambi', 'Kabui']

In [2]:
print(l1[1])

Berry

In [3]:
print(l2[0:3])

['Kim', 'Mukami', 'Muthuure']

In [4]:
l1.insert(4, "Marcus")

In [5]:
print(l1)

['Ash', 'Berry', 'Brian', 'Joy', 'Marcus', 'Weras']

In [6]:
l1.pop()

'Weras'

In [7]:
print(l1)

['Ash', 'Berry', 'Brian', 'Joy', 'Marcus']

In [8]:
l1.append('Weras')

In [9]:
print(l1)

['Ash', 'Berry', 'Brian', 'Joy', 'Marcus', 'Weras']

In [10]:
l2.extend(l1)

In [11]:
print(l2)

['Kim', 'Mukami', 'Muthuure', 'Kathambi', 'Kabui', 'Ash', 'Berry', 'Brian', 'Joy', 'Marcus', 'Weras']

In [12]:
l2.remove('Marcus')

In [13]:
print(l2)

['Kim', 'Mukami', 'Muthuure', 'Kathambi', 'Kabui', 'Ash', 'Berry', 'Brian', 'Joy', 'Weras']

In [14]:
l2.pop(-1)

'Weras'

In [15]:
print(l2)

['Kim', 'Mukami', 'Muthuure', 'Kathambi', 'Kabui', 'Ash', 'Berry', 'Brian', 'Joy']

In [16]:
# Looping through a list
for i in l2:
    print(i)

Kim
Mukami
Muthuure
Kathambi
Kabui
Ash
Berry
Brian
Joy

In [17]:
# loop through the index numbers
for i in range(len(l2)):
    print(l2[i])

Kim
Mukami
Muthuure
Kathambi
Kabui
Ash
Berry
Brian
Joy

In [19]:
i = 0
while i < len(l2):
    print(l2[i])
    i+=1

Kim
Mukami
Muthuure
Kathambi
Kabui
Ash
Berry
Brian
Joy

In [20]:
this_list = [100, 50, 65, 82, 23]

In [21]:
this_list.sort()

In [22]:
print(this_list)

[23, 50, 65, 82, 100]

In [23]:
this_list.sort(reverse=True)

In [24]:
print(this_list)

[100, 82, 65, 50, 23]

In [27]:
l2.sort(reverse=True)

In [28]:
print(l2)

['Muthuure', 'Mukami', 'Kim', 'Kathambi', 'Kabui', 'Joy', 'Brian', 'Berry', 'Ash']

In [29]:
fruits = ['apple', 'banana','cherry']
print(fruits[1])

banana

# Tuple

tuples are written in round brackets. 
A tuple is a collection which is ordered and unchangeable

In [30]:
thistuple = ("apple", "banana", "cherry")

In [31]:
print(thistuple)

('apple', 'banana', 'cherry')

In [32]:
# Allows duplicate
thistuple = ("apple", "banana", "cherry", "apple")

In [33]:
print(thistuple)

('apple', 'banana', 'cherry', 'apple')

In [34]:
print(len(thistuple))

4

In [35]:
print(type(thistuple))

<class 'tuple'>

In [37]:
print(thistuple[0])

apple

In [38]:
# Remove items
#convert tuple into a list, remove item and convert it back into a tuple
y = list(thistuple)
y.remove("apple")

In [39]:
thistuple = tuple(y)

In [40]:
print(thistuple)

('banana', 'cherry', 'apple')

In [41]:
for i in thistuple:
    print(i)

banana
cherry
apple

In [42]:
thistuple = (1,2,1,3,3,4,2,5,6,7,8,5,6,5,5,3,5,5,2)

In [43]:
for i in thistuple:
    print(i)

1
2
1
3
3
4
2
5
6
7
8
5
6
5
5
3
5
5
2

In [50]:
#count
x = thistuple.count(3)

In [51]:
print(x)

3

In [52]:
x = thistuple.index(5)

In [53]:
print(x)

7

# Sets

Sets are used to store multiple items in a single variable.
A set is a collection which is both unordered and unindexed

In [54]:
my_set = {'Kim', 'Brian', 'Bazeng'}

In [55]:
print(my_set)

{'Kim', 'Brian', 'Bazeng'}

In [56]:
print(len(my_set))

3

In [58]:
print(type(my_set))

<class 'set'>

In [60]:
for i in my_set:
    print(i)

Kim
Brian
Bazeng

In [61]:
my_set.add("Berry")

In [62]:
for i in my_set:
    print(i)

Berry
Kim
Brian
Bazeng